:root {
    --bs-font-sans-serif: "Source Sans 3", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-serif: "Source Serif 4", serif;
    --bs-font-monospace: "Source Code Pro", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-font-cursive: "Handlee", cursive;
    --bs-body-font-family: var(--bs-font-serif);
    --bs-heading-font-family: var(--bs-font-sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--bs-heading-font-family);
}

.font-sans {
    font-family: var(--bs-font-sans-serif);
}

.font-cursive {
    font-family: var(--bs-font-cursive);
}

.max-w-sm {
    max-width: 576px;
}

.max-w-md {
    max-width: 768px;
}

.max-w-lg {
    max-width: 992px;
}